<app-navlog></app-navlog>
<br>
<div class="container">
    
<div class="divcards">
   
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
    <div class="row bootstrap snippets bootdeys"> 
        <div class="col-md-9 col-sm-7"> 
            <h2>Offre d'emploi </h2> 
        </div> 
        <div class="col-md-3 col-sm-5"> 
            <form method="get" role="form" class="search-form-full"> 
                <div class="form-group"> 
                    <input type="text" class="form-control" name="s" id="search-input" placeholder="Search..."> 
                    <i class="entypo-search"></i> 
                </div> 
            </form> 
        </div> 
    </div>
    <div class="member-entry"> 
        <a href="#" class="member-img"> 
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-rounded"> 
            <i class="fa fa-forward"></i> 
        </a> 
        <div class="member-details"> 
            <h4> <a href="#">Web &amp; UI Design</a> </h4> 
            <div class="row info-list"> 
                <div class="col-sm-4"> 
                    <i class="fa fa-briefcase"></i>
                    Petite desciption de l'offre  
                </div> 
               
                <div class="col-sm-4"> 
                    <i class="fa fa-linkedin"></i> 
                    <a href="#">johnkennedy....</a>
                </div> 
                <div class="col-sm-4"> 
                    
                    <button type="button" class="btn btn-outline-secondary">Voir Details</button>
                </div> 
                <div class="clear"></div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-location"></i> 
                    <a href="#">Vermrg Tunisie</a> 
                    <br>  <i class="fa fa-map-marker" aria-hidden="true"></i>
                        Rolling Meadows, IL 60008
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-envelope"></i> 
                    <a href="#">Vermrg.recrutement@gmail.com</a> 
                </div> 
                <div class="col-sm-4"> 
                    04/12/2021
                </div> 
            </div> 
        </div> 
    </div>
    <div class="member-entry"> 
        <a href="#" class="member-img"> 
            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-rounded"> 
            <i class="fa fa-forward"></i> 
        </a> 
        <div class="member-details"> 
            <h4> <a href="#">Front-End Development</a> </h4> 
            <div class="row info-list"> 
                <div class="col-sm-4"> 
                    <i class="fa fa-briefcase"></i>
                    Co-Founder at <a href="#">Complete Tech</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-twitter"></i> 
                    <a href="#">@johnnie</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-facebook"></i> 
                    <a href="#">fb.me/johnnie</a> 
                </div> 
                <div class="clear"></div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-location"></i> 
                    <a href="#">Prishtina</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-envelope"></i> 
                    <a href="#">john@gmail.com</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-linkedin"></i> 
                    <a href="#">johnkennedy</a> 
                </div> 
            </div> 
        </div> 
    </div>
    <div class="member-entry"> 
        <a href="#" class="member-img"> 
            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-rounded"> 
            <i class="fa fa-forward"></i> 
        </a> 
        <div class="member-details"> 
            <h4> <a href="#">Johnnie Linton</a> </h4> 
            <div class="row info-list"> 
                <div class="col-sm-4"> 
                    <i class="fa fa-briefcase"></i>
                    Co-Founder at <a href="#">Complete Tech</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-twitter"></i> 
                    <a href="#">@johnnie</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-facebook"></i> 
                    <a href="#">fb.me/johnnie</a> 
                </div> 
                <div class="clear"></div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-location"></i> 
                    <a href="#">Prishtina</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-envelope"></i> 
                    <a href="#">john@gmail.com</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-linkedin"></i> 
                    <a href="#">johnkennedy</a> 
                </div> 
            </div> 
        </div> 
    </div>
    <div class="member-entry"> 
        <a href="#" class="member-img"> 
            <img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="img-rounded"> 
            <i class="fa fa-forward"></i> 
        </a> 
        <div class="member-details"> 
            <h4> <a href="#">Johnnie Linton</a> </h4> 
            <div class="row info-list"> 
                <div class="col-sm-4"> 
                    <i class="fa fa-briefcase"></i>
                    Co-Founder at <a href="#">Complete Tech</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-twitter"></i> 
                    <a href="#">@johnnie</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-facebook"></i> 
                    <a href="#">fb.me/johnnie</a> 
                </div> 
                <div class="clear"></div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-location"></i> 
                    <a href="#">Prishtina</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-envelope"></i> 
                    <a href="#">john@gmail.com</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-linkedin"></i> 
                    <a href="#">johnkennedy</a> 
                </div> 
            </div> 
        </div> 
    </div>
    <div class="member-entry"> 
        <a href="#" class="member-img"> 
            <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="img-rounded"> 
            <i class="fa fa-forward"></i> 
        </a> 
        <div class="member-details"> 
            <h4> <a href="#">Johnnie Linton</a> </h4> 
            <div class="row info-list"> 
                <div class="col-sm-4"> 
                    <i class="fa fa-briefcase"></i>
                    Co-Founder at <a href="#">Complete Tech</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-twitter"></i> 
                    <a href="#">@johnnie</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-facebook"></i> 
                    <a href="#">fb.me/johnnie</a> 
                </div> 
                <div class="clear"></div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-location"></i> 
                    <a href="#">Prishtina</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-envelope"></i> 
                    <a href="#">john@gmail.com</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-linkedin"></i> 
                    <a href="#">johnkennedy</a> 
                </div> 
            </div> 
        </div> 
    </div>
    </div>
</div>
<div class="container" id="footer">
    <div class="container bootstrap snippets bootdeys">
        <div class="row">
            <div class="col-md-4 col-sm-6 content-card">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                        <div class="content">
                            <h6 class="category">Best cards</h6>
                            <h4 class="title"><a href="#"><img src = "../../assets/mariem.png" width="135px" height="135px"></a></h4>
                            <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
            
            <div class="col-md-6 col-sm-6 content-card">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                        <div class="content">
                            <h6 class="category">Best cards</h6>
                            <h4 class="title"><a href="#"><img src = "../../assets/mariem.png" width="135px" height="135px"></a></h4>
                            <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 content-card">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
                        <div class="content">
                            <h6 class="category">Best cards</h6>
                            <h4 class="title"><a href="#"><img src = "../../assets/mariem.png" width="135px" height="135px"></a></h4>
                            <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 content-card">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                        <div class="content">
                            <h6 class="category">Best cards</h6>
                            <h4 class="title"><a href="#">Yellow Card</a></h4>
                            <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
            
           
        </div>
    </div>

</div>